.header {
    height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.headerImg {
    height: 80%;
    width: 80%;
    margin: auto;
    object-fit: cover;
    margin-top: 5rem;

}

.headerTextContainer {
    width: 100%;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 4%;

}

.headerText {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.headerSubText {
    color: #808080;
    font-weight: 400;
    text-align: center;
    width: 65%;
}

.btn {
    background-color: #1d1ce5;
    color: #fff;
    padding: .4rem 1.5rem;
    border: none;
    margin-top: 1rem;
    border-radius: 5px;
    margin-left: .2rem;
}