.container {
    background-color: #eff5f580;
}

.img {
    width: 50%;
    height: 100%;
    object-fit: cover;

}

.btn {
    background-color: #1d1ce5;
    color: #fff;
    border: 1px solid #1d1ce5;
    align-self: center;
    width: 30%;
    padding: .4rem 1.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    margin-left: .2rem;
    transition: .5s ease-in-out;
    font-size: .95rem;
}



.desc {
    font-weight: 300;
    color: #b9e4ff;
    color: #2d2d2d;
    text-align: center;
    width: 40%;
}


.btn:hover {
    background-color: #fff;
    color: #1d1ce5;
    border: 1px solid #1d1ce5;

}


.heading {
    color: #474747;
}

.heading::after {
    content: "";
    display: block;
    border-radius: 20px;
    width: 25%;
    height: 5px;
    background-color: #1d1ce5;
    margin: 1rem auto;
}