.header {
    height: 400px;
    background-size: cover;
    background-image: url('/Images/Campaign-1.jpg');
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
  }
  

  .searchBarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
  }
  
  .searchBar {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    margin-bottom: 20px;
  }
  
  .subheader {
    font-size: 20px;
    color: #fff;
    
  } 

