.carouselContainer {
  width: 90%;
  height: 45vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20%;

}

.carouselItemContainer {
  margin-top: 10%;
  cursor: pointer;
}

.carouselImage {
  height: 160px;
  width: 100px;
  margin: auto;
  object-fit: contain;
}

.carouselHeading {
  color: #474747;
  margin-top: 8%;
}

.carouselHeading::after {
  content: "";
  display: block;
  border-radius: 20px;
  width: 7%;
  height: 5px;
  background-color: #1d1ce5;
  margin: 1rem auto;
}