.aboutUsHeading {
  margin-bottom: 1.5rem;
  text-align: center;
}
.aboutUsHeading::after {
  content: "";
  display: block;
  width: 15%;
  height: 5px;
  background-color: #1d1ce5;
  margin: auto;
}

.aboutUsOurWorkHeading {
  margin-bottom: 1.5rem;
  color: #474747;
  text-align: center;
}

.aboutUsOurWorkHeading::after {
  content: "";
  display: block;
  width: 6%;
  height: 5px;
  background-color: #1d1ce5;
  margin: auto;
}
