.img {
    width: 100%;
    height: 60vh;
    object-fit: fill;
    border-radius: 20px;
}

.textContainer {
    width: 65%;

}

.fundContainer {
    width: 30%;
    border-radius: .8rem;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}

.btn {
    background-color: #1d1ce5;
    color: white;
    border: 1px solid #1d1ce5;
    border-radius: 5px;
    padding: .4rem 1.5rem;
}

.cardImage {

    object-fit: fill;
    border-radius: 20px;
    height: 200px;
    width: 100%;
}

.cardDesc {
    font-size: .9rem;
    font-weight: 300;
    color: grey;
    text-align: left;
}

.fadeColor {
    color: grey;
}

.cardStats {
    font-size: .8rem;
}

.campaignHeader {
    background-color: #020403;
    height: 55vh;
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campaignHeaderContent {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 22px;
    color: white;
}

.searchBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;

    margin-top: .6rem;
    text-align: center;
    font-size: 22px;
    color: #fff;
}

.searchBar {
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 18px;
    outline: none;

}

.campaignHeaderSearchBtn {
    width: 18%;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    background-color: #1d1ce5;
    color: white;
    transition: 0.6s ease;
}

.campaignHeaderSearchBtn:hover {
    cursor: pointer;

}

.heartIcon {
    position: absolute;
    top: 7%;
    right: 7%;
    z-index: 999;
    cursor: pointer;


}