.headerImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: contain;
}

.editBtn {
    position: absolute;
    top: 5%;
    width: 8%;
    padding: .2rem 0;
    border: none;
    background-color: #1d1ce5;
    color: #fff;
    border-radius: 5px;
    right: 8%;

}


@media screen and (max-width: 768px) {
    .headerImg {
        width: 150px;
        height: 150px;


    }

    .headerDataContainer {
        flex-direction: column !important;

    }

    .editBtn {
        width: 15%;
        right: 5%;
    }

    .userData {
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 2rem;
        align-items: center !important;
    }

    .userFundData {
        flex-direction: column !important;
        align-items: center !important;
        margin-top: .4rem;

    }

    .editBtn {
        width: 20%;
        right: 40%;
        top: 100%;
    }
}